.App {
  overflow: hidden;
  /* max-width: 1350px; */
  /* margin: 0 20px; */
  /* display: flex; */
  margin: 0 auto;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sec1 {
  .left,
  .right {
    width: 100%;
  }

  /* Style for screens wider than 768px (desktop) */
  @media (min-width: 768px) {
    .left {
      width: 60%;
    }

    .right {
      width: 40%;
    }
  }
}

.sec2 {
  .left,
  .right {
    width: 100%;
  }

  /* Style for screens wider than 768px (desktop) */
  @media (min-width: 768px) {
    .left {
      width: 60%;
    }

    .right {
      width: 40%;
    }
  }
}

.sticky-navbar {
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

/* Style for sticky navbar */
.navbar {
  // position: sticky;
  position: fixed;
  width: 100%;
  // height: 100%;
  font-weight: 600;
  background-color: transparent;
  z-index: 1000;
  color: #ffffff;
  /* Change this to your desired background color */
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

.navbar.sticky {
  font-weight: 600;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
  color: #0b2b62;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  // opacity: 0.8;
  border-bottom: 1px solid #ccc;
}

.custom-datepicker {
  border: 2px solid #edf2f7;
  border-radius: 4px;
  padding: 2px 8px;
}
